{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1>Most recent projects</h1><br>
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Angularjs</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-primary">View more</a>
                        <a href="#" class="btn btn-success">Apply</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Angularjs</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-primary">View more</a>
                        <a href="#" class="btn btn-success">Apply</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Angularjs</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-primary">View more</a>
                        <a href="#" class="btn btn-success">Apply</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h1>Test</h1><br>
                <div class="card">
                    <div class="card-block">
                        <ul>
                            <li><a href="/tags/python">Python</a></li>
                            <li><a href="/tags/javascript">Javascript</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
