{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                {% if apps %}
                    <h1>Outstanding project applications:</h1>
                    {% for app in apps %}
                        <div class="card">
                            <div class="card-block">
                                <h4 class="card-title">{{ app.project.project_name }}</h4>
                                <p class="card-text">{{ app.project.description }}</p>
                                <a href="/projects/{{ app.project.id }}" class="btn btn-primary">View more</a>
                                <a href="/{{ app.project.id }}/applications" class="btn btn-success">View
                                    Applications</a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                <h1>Projects maintained by {{ user.username }}:</h1>

                {% for project in owns %}
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">{{ project.project_name }}</h4>
                            <p class="card-text">{{ project.description }}</p>
                            <a href="/projects/{{ project.id }}" class="btn btn-primary">View more</a>
                            <a href="/{{ project.id }}/applications" class="btn btn-success">View Applications</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-3">
                <h1>User details: </h1>
                <ul class="list-group">
                    <li class="list-group-item">Number of projects maintained: {{ owns|length }}</li>
                    <li class="list-group-item">Joined: {{ user.date_joined }}</li>
                    <li class="list-group-item"><a href="{{ user.github_id }}">GitHub Profile</a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
