{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1>Applications for {{ project.project_name }}</h1><br>
                {% for apps in applications %}
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">{{ apps.user.username }}</h4>
                            <p class="card-text">{{ apps.justification }}</p>
                            <button id="approve" class="btn btn-success" value="{{ apps.user_id }}">Accept</button>
                            <button id="decline" class="btn btn-danger" value="{{ apps.user_id }}">Decline</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <script>
    $("#approve").click(function(e) {
        var data = {
            'decision': true,
            'user_id': $("#approve").val()
        };
        $.ajax({
            type: "POST",
            url: "/{{ project.id }}/applications",
            data: JSON.stringify(data, null, '\t'),
            contentType: 'application/json;charset=UTF-8',
            success: function () {
                window.location.href = '/'
            }
        });
    });

    $("#decline").click(function(e) {
        var data = {
            'decision': false,
            'user_id': $("#decline").val()
        };
        $.ajax({
            type: "POST",
            url: "/{{ project.id }}/applications",
            data: JSON.stringify(data, null, '\t'),
            contentType: 'application/json;charset=UTF-8',
            success: function () {
                window.location.href = '/'
            }
        });
    });

    </script>
{% endblock %}